extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  .auth-page
    .auth-container
      h1 Đăng nhập tài khoản
      form(
        action="/user/login"
        method="POST"
      )
        div(class="form-group")
          label(for="email" class="form-label") Email
          input(
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          )
        div(class="form-group")
          label(for="password" class="form-label") Mật khẩu
          input(
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          )

        div(class="form-group")
          button(
            type="submit"
            class="btn btn-primary"
          ) Đăng nhập
      
      div(class="text-center mt-3")
        a(href="/user/password/forgot") Quên mật khẩu?